* {
  box-sizing: border-box;
}

ul.credit-list {
  max-width: 50%;
}

a.link {
  width: auto;
}

@media screen and (max-width:600px) {
  ul.credit-list {
    max-width: 60%;
  }
}

a.credit-link {
  text-decoration: none;
  color: blueviolet;
}

input.input_field:focus {
  background-color: rgb(55, 57, 65);
  color: white;
  animation-duration: 5s;
}

img.logo-link {
  border-radius: 25px;
}

#logo {
  max-width: 100%;
}