* {
  box-sizing: border-box;
}

ul.credit-list {
  max-width: 50%;
}

@media screen and (max-width:600px) {
  ul.credit-list {
    max-width: 70%;
  }
}

a.credit-link {
  text-decoration: none;
  color: blueviolet;
}

#logo {
  max-width: 100%;
}